@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-size: 10px;
  --radius: 1.5rem;
  --transition: 0.3s ease-in-out;

  /* Colors */
  /* Primary */
  --teal: #0D6E6E;
  --teal-light: #4A9D9C;
  --teal-lighter: #AFFFFF;

  /* Secondary */
  --red: #FF3D3D;
  --red-light: #FF3D3D;


  /* UI Dark */
  --coal: #0D1F2D;
  --coal-light: #1D2E3D;
  --coal-lighter: #354656;

  /* UI Light */
  --light: #E0E0E0;
  --lighter: #FFFFFF;
}
/* https://www.bairesdev.com/tools/ai-colors */

@theme {
  --color-primary: var(--teal);
  --color-primary-light: var(--teal-light);
  --color-primary-lighter: var(--teal-lighter);
  --color-secondary: var(--red);
  --color-secondary-light: var(--red-light);
  --color-ui-darker: var(--coal);
  --color-ui-dark: var(--coal-light);
  --color-ui: var(--coal-lighter);
  --color-ui-light: var(--light);
  --color-ui-lighter: var(--lighter);

  --ui-bg: var(--color-ui-darkest);
  --ui-text: var(--color-ui-lighter);
}